<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/guardias.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <!-- <img src="assets/img/angular2-logo.png" alt=""> -->
                    </div>
                    <h1 class="presentation-title">SEGURIDAD PRIVADA</h1>
                    <!-- <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div> -->
                </div>

                <h2 class="presentation-subtitle text-center">Elementos altamente capacitados</h2>
            </div>
        </div>
        <!-- <div class="moving-clouds" style="background-image: url('assets/img/pr.png'); background-repeat: no-repeat"></div> -->
        <!-- <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by -->
        <!-- <h6 class="category category-absolute">Designed and coded by -->

        <!-- <a href="https://www.creative-tim.com" target="_blank">
                <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo">
            </a>
        </h6> -->
    </div>
    <div class="main">
        <!-- <app-basicelements></app-basicelements>
      <app-navigation></app-navigation> -->
      <div class="section section-dark text-center" id="quienes_somos">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center">¿Quiénes somos? </h2>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="col-md-6">
                        <!--  <div class="tim-title">
                            <h3> </h3>
                        </div> -->
                        <img src="assets/img/cuarto.jpg" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="col-md-6">
                        <div class="tim-title">
                            <br />
                            <ul style="text-align:justify">
                                Somos una empresa de seguridad privada, que proporciona servicios integrales con el fin
                                de proteger la integridad de las personas, bienes e información.
                                <br><br>
                                En Sicresa queremos ofrecerte protección calificada para tus bienes, ya que nosotros
                                sabemos que has invertido esfuerzo, dinero y tiempo en la adquisición de tu hogar y el
                                crecimiento de tu negocio.
                                <br><br>
                                Preocupados por la equidad de género, incorporamos en nuestras lineamientos, lo
                                necesario para garantizar a nuestros empleados el entorno laboral idóneo para su
                                desarrollo.
                            </ul>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <div class="section landing-section text-center" id="clientes">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="info">
                            <img src="assets/img/marca1.png" alt="" style="width: 50%;">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <img src="assets/img/marca2.png" alt="" style="width: 50%;">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <img src="assets/img/marca3.png" alt="" style="width: 50%;">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <img src="assets/img/marca4.png" alt="" style="width: 50%;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="info">
                            <img src="assets/img/marca5.png" alt="" style="width: 50%;">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <img src="assets/img/marca6.png" alt="" style="width: 50%;">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <img src="assets/img/marca7.png" alt="" style="width: 50%;">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <img src="assets/img/marca8.png" alt="" style="width: 50%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark text-center" id="servicios">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger"><i class="nc-icon nc-badge"></i></div>
                            <div class="description">
                                <h4 class="info-title">Identificación</h4>
                                <p class="description">Nuestros elementos tendran simpre visible su nombre sin excepción
                                </p>
                                <!-- <a class="btn btn-link btn-danger"
                                        href="#pkp">See more</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger"><i class="nc-icon nc-bulb-63"></i></div>
                            <div class="description">
                                <h4 class="info-title">Prevención</h4>
                                <p>Elementos altamente capacitados para identificar posibles amenazas</p>
                                <!-- <a class="btn btn-link btn-danger" href="#pkp">See
                                        more</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger"><i class="nc-icon nc-user-run"></i></div>
                            <div class="description">
                                <h4 class="info-title">Coordinación</h4>
                                <p>Capacidad de organizacion ante cualquier incidencia</p>
                                <!-- <a class="btn btn-link btn-danger" href="#pkp">See more</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger"><i class="nc-icon nc-lock-circle-open"></i></div>
                            <div class="description">
                                <h4 class="info-title">Protección</h4>
                                <p>!Despreocupate! tus bienes seimpre estaran seguros</p>
                                <!-- <a class="btn btn-link btn-danger" href="#pkp">See
                                        more</a> -->
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <!--  <div class="tim-title">
                                <h3> </h3>
                            </div> -->
                        <img src="assets/img/cuarto.jpg" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="col-md-6">
                        <div class="tim-title">
                            <h3>SERVICIOS DE SEGURIDAD</h3>
                            <br />
                            <ul>
                                <li>Instalacion de circuito cerrado</li>
                                <li>Instalacion de malla ciclonica</li>
                                <li>Visualiza tu negocio desde tu celular</li>
                                <li>Monitoreo 24HRS</li>
                                <li>Seguridad Residencial</li>
                                <li>Seguridad Empresarial</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <div class="section landing-section" id="contacto">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="text-center">Manténgase en contacto</h2>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Nombre</label>
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Nombre" (focus)="focus=true"
                                            (blur)="focus=false">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Correo</label>
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="nc-icon nc-email-85"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Correo"
                                            (focus)="focus1=true" (blur)="focus1=false">
                                    </div>
                                </div>
                            </div>
                            <label>Mensaje</label>
                            <textarea class="form-control" rows="4"
                                placeholder="Cuentenemos y estaremos ahi para usted"></textarea>
                            <div class="row">
                                <div class="col-md-4 mr-auto ml-auto">
                                    <button class="btn btn-danger btn-lg btn-fill">Enviar correo</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>