<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://ccubajio.com.mx/">Eduardo Chavez CCUBajío</a></li>
                    <li><a href="https://ccubajio.com.mx/#nosotros">Nosotros</a></li>
                    <li><a href="https://ccubajio.com.mx/#servicios">Servicios</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">

                

                    © {{test | date: 'yyyy'}}, Todos los derechos reservados | Creado por CCUBajío
                </span>
            </div>
        </div>
    </div>
</footer>